header {
    font-size: 45px;
    text-align: center;
    margin: 35px auto;
}

#buttonContainer {
    width: 200px;
}

body {
    margin: 20 auto;
}

#history {
    margin: 5px auto;
    padding: 10px;
    color: white;
    font-size: 17px;
    border-radius: 25px;
}

#current {
    margin: 2px auto;
    padding: 10px;
    color: white;
    font-size: 35px;
    border-radius: 25px;
}

*, *::before, *::after { /* This selects everything */
    box-sizing: border-box; /* This ensures that everything is in the box e.g. border radius, margin etc. */
    font-family: 'Muli', sans-serif;

}

#calculator {
    display: grid; 
    justify-content: center;
    align-content: center;
    margin: 5px;
    padding: 5px;
    grid-template-columns: repeat(4, 100px); /* This sets the columns to repeat 4 times at 150px each*/
    grid-template-rows: minmax(80px, auto) repeat(5, 100px); /* The minmax sets it so that it can be adjusted if the number input is longer than one line*/ 
} 

#calculator > button { /* This selects all the button elements that are in the calculator div*/
    cursor: pointer;
    border: 1px solid white;
    background-color: turquoise;
    outline: none;
    margin: 3px;
    font-size: 25px;
    width: auto;
    border-radius: 25px;
}

#calculator > button:hover {
    background-color: white;
    border: 3px solid turquoise;
    transform: scale(1.03);
}

#calculator > button:active {
    background-color: turquoise;
    border: 3px solid turquoise;
    transform: scale(1.03);
    color: white;
}

#calculator > .topTwo {
    background-color: #1FB7A7;
}

#calculator > .topTwo:hover {
    background-color: white;
    border: 3px solid #1FB7A7;
    transform: scale(1.03);
}

#calculator > .topTwo:active {
    background-color: #1FB7A7;
    border: 3px solid #1FB7A7;
    transform: scale(1.03);
    color: white;
}


#calculator > .operator {
    background-color: #3652DC;
    color: white;
}

#calculator > .operator:hover {
    background-color: white;
    border: 3px solid #3652DC;
    color: black;
    transform: scale(1.03);
}

#calculator > .operator:active {
    background-color: #3652DC;
    border: 3px solid #3652DC;
    transform: scale(1.03);
    color: white;
}

.spanTwo {
    grid-column: span 2; /* This makes the column span two column widths */
}

#output {
    grid-column: 1 / -1; /* This will make the output div span from the start to finish of the grid*/ 
    display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #302F2F;
    border-radius: 25px;
    margin: 5px;
    height: 150px;
}
